@model AsyncCourse.Auth.Api.Models.Models.AccountModel[];

@{
    ViewData["Title"] = "Accounts Page";
}

<div class="text-center">
    <h3 class="display-4">Accounts</h3>

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Identifier</th>
            <th>Full name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        @foreach (var accountModel in Model)
        {
            <tr onclick="location.href = '@Url.Action("Open", "Home", new { Id = accountModel.Id })'">
                <td>@accountModel.Id</td>
                <td>@accountModel.FullName</td>
                <td>@accountModel.Email</td>
                <td>@accountModel.Role</td>
            </tr>
        }
    </table>

    <div>
        <a href="/Home/Logout">Log out</a>
    </div>
    
        <div>
            <a href="/Access/Signup">Sign up</a>
        </div>
    
</div>