@model AsyncCourse.Issues.Api.Models.Issues.Models.IssueListModel[];

@{
    ViewData["Title"] = "Issues Page";
}

<div class="text-center">
    <h3 class="display-4">Issues</h3>
    
    <div>
        <a href="/Home/Add">Create new issue</a>
    </div>
    
    <div>
        <a href="/Home/Reassign">Reassign all issues</a>
    </div>
    
    <div>
        <br/>
    </div>

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Identifier</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Responsible</th>
        </tr>
        @foreach (var issueModel in Model)
        {
            <tr onclick="location.href = '@Url.Action("Open", "Home", new { Id = issueModel.Id })'">
                <td>@issueModel.Id</td>
                <td>@issueModel.Title</td>
                <td>@issueModel.Description</td>
                <td>@issueModel.Status</td>
                <td>@issueModel.Responsible</td>
            </tr>
        }
    </table>

</div>